<app-home></app-home>
<br>
<div class="content" *ngIf="categori">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <ng-container *ngIf="mensaje">
                <div class='alert alert-success'>
                    {{ mensajecontent }}
                 </div>
                </ng-container>
            <div class="card">
                <div class="card-header bg-danger">
                    <h3 class="card-title">Confirmar Eliminación </h3>
                </div>
                <div class="card-body">
                    Usted va a eliminar la categoría con nombre
                    <b>{{categori.categoria}}</b><br>
                    Presione <b>Aceptar</b> para eliminar. <br><br>

                    <b>Importante</b>. Una vez eliminado no podra recuperarse.
                </div>
                <div class="card-footer">
                    <ng-container *ngIf="loading">
                        <b>Eliminando Categoría</b>
                      </ng-container>
                    <ng-container *ngIf="!loading">
                        <button (click)="deleteCategoria();" class="btn btn-success">Aceptar</button>
                        <a class="btn btn-info" routerLink="/categorias/listado">Cancelar</a>
                    </ng-container>
                </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
