<br>
<div class="row">
    <div class="col-md-1 col-sm-1 col-1"></div>
    <div class="col-md-3 col-sm-3 col-3"></div>
    <div class="col-md-6 col-sm-6 col-6"><h1>Zona De Categorías</h1></div>
    <div class="col-md-2 col-sm-2 col-2"><button class="btn btn-primary" (click)="logout()" >Cerrar Cesión</button></div>
</div>
<div class="row">
    <div class="col-md-1 col-sm-1 col-1"></div>
    <div class="col-md-2 col-sm-2 col-2"><a class="btn btn-info" routerLink="/categorias/listado">listado</a></div>
    <div class="col-md-1 col-sm-1 col-1"></div>
    <div class="col-md-2 col-sm-2 col-2"><a class="btn btn-success" routerLink="/categorias/crearCategoria">Crear</a></div>
    <div class="col-md-2 col-sm-2 col-2"><a class="btn btn-success" routerLink="/pendientes/listado">Pendientes</a></div>
    <div class="col-md-2 col-sm-2 col-2"><a class="btn btn-success" routerLink="/users/listado">Users</a></div>
    
</div>
<br>
